.speech-bubble-menu {
  background: #464c61;
  border-radius: 9px;


  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #bec0c8;



  width: 116px;
}

.speech-bubble-menu .menu-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  margin: 19px 5px 17px 14px;
}