.flex{
    display: flex;
}
.spaceBetween{
    justify-content: space-between;
}
.center{
    align-items: center;
}
.header{
    color: var(--sidebar-bg);
    margin-top: 25px;
}
.titleHeader{
    font-size: 20px;
}
.actionHeader{
    font-size: 12px;
}
.headerActions{
    display: flex;
    gap: 10px;
}