@import "../../assets/stylesheets/vars.css";

.square-icon{
    width: 0.9rem;
    height: 0.9rem;
    align-self: center;
    background: transparent;
}

.border-white {
    border: 1px solid white;
}
.border-gray {
    border: 1px solid #9D9FAF;
}
.border-black {
    border: 1px solid var(--DARK-BG);
}