.navigation-item {
    color: white;
    height: 2.75rem;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.navigation-item:first-child {
    opacity: 1;
}

.navigation-item:hover{
    opacity: 1;
    transition: all ease-in-out 300ms;
}

p {
    width: 6.25rem;
    margin-left: 1.2rem;
}

#active-indicator {
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    width: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}


#nav-icon{
    width: 0.9rem;
    height: 0.9rem;
    border: 1px solid white;
    align-self: center;
}