.sidebar {
  background: #343951;
  
  display: grid;

  grid-template-rows: 108px 299px 1fr;
  grid-template-columns: 1fr;
}

.gradient-bar {
  width: 74px;
  height: 21px;
  margin-left: 32px;
  margin-top: 36px;
  margin-bottom: 51px;

  background: linear-gradient(270deg, #689ef8 0%, #ff6860 56.25%, #ff9f00 100%);
  border-radius: 5px;

}

.sidebar-footer{
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: center;
  
  margin-bottom: 27px;
  padding: 0 28px 0;
}

