@import '/src/assets/stylesheets/vars.css';

.summary-main {
    background-color: var(--LIGHT-BG);
    position: relative;
}

.summary-header {
    border-bottom: 1px solid #e0e7f1;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    padding-bottom: 0.9rem;
    padding-top: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-container div:first-child {
    margin-right: 0.8rem;
}

.circle {
    width: 1.9rem;
    height: 1.9rem;
    background-color: #c4c4c4;
    border-radius: 50%;
}

.profile {
    display: flex;
    align-items: center;
}

.profile > p {
    width: fit-content;
    margin-right: 0.7rem;
}

.storage-resume-section {
    padding: 1.1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storage-resume-section h2 {
    margin-bottom: 2rem;
    align-self: self-start;
}

.space-remaining-text {
    width: fit-content;
    white-space: nowrap;
    color: #858a9d;
    line-height: 9px;
    letter-spacing: 0.05em;
    font-size: 0.75em;
    margin-top: 1.75rem;
}

.cards-container {
    margin: 37px 0;
}

.bottom-card {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
}

.gradient-box {
    background: linear-gradient(
        270.15deg,
        #689ff8 0.15%,
        #ff6860 54.7%,
        #ff9f00 99.9%
    );
    width: 100%;
    height: 4rem;
    border-radius: 11px;
    margin-bottom: 1.4rem;
}

.bottom-card-title {
    color: var(--DARK-BG);
    white-space: nowrap;
}

.bottom-card-subtitle {
    color: var(--CUSTOM-LIGHT-GRAY);
    letter-spacing: 0.05em;
    line-height: 9px;
    font-size: 13px;
    white-space: nowrap;
    transform: translateX(-10px);
}

.upgrade-btn {
    cursor: pointer;
    border: none;
    margin-top: 1.25rem;
    color: white;
    background-color: var(--CUSTOM-YELLOW);
    border-radius: 7px;
    padding: 1.06rem 1.15rem;
    line-height: 12px;
    width: 100%;
    text-align: center;
    position: relative;
}
