.flex{
    display: flex;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.card{
    background-color: white;
    border-radius: 12px;
}
.smallCard{
    width: 157px;
    height: 79px;
}
.largeCard{
    width: 159px;
    height: 133px;
}
.circles{
    width: 18px;
    height: 18px;
}
.circle{
    outline: 1px solid;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: white;
}
.circle:not(:first-child){
    left: 12px;
}
.square{
    width: 30px;
    height: 26px;
    background-color: var(--yellow-button);
}
.secondarySquare{
 background-color: var(--yellow-pale-bg);
}

.left-5{
    left: 5px;
}
.-top-5{
    top: -5px;
}

.shortDistance{
    left: 26px;
}
.longDistance{
    left: 50px
}
.smallPadding{
    padding-top: 13px;
    padding-left: 11px;
    padding-bottom: 5px;
}
.largePadding{
    padding-top: 20px;
    padding-left: 17px;
    padding-bottom: 16px;
}
.cardBody{
    font-size: 12px;
    margin-top: 6px;
}
.cardFooter{
    font-size: 8px;
    margin-top: 2px;
}
.margin-30{
    margin-top: 30px;
}
.margin-10{
    margin-top: 10px;
}

/* .card{
    background-color: white;
    border-radius: 12px;
}

.smallPadding{
    padding-top: 13px;
    padding-left: 11px;
    padding-bottom: 5px;
}
.largePadding{
    padding-top: 20px;
    padding-left: 17px;
    padding-bottom: 16px;
}

.smallCard{
    width: 157px;
    height: 79px;
}
.largeCard{
    width: 159px;
    height: 133px;
}

.square{
    width: 30px;
    height: 26px;
    background-color: var(--yellow-button);
} */

/* .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    position: relative;
}
.cardBody{
    font-size: 12px;
    margin-bottom: 2px;
}
.cardFooter{
    color: var(--gray-fc);
    font-size: 8px;
    letter-spacing: 0.5px;
}

.circles{
    display: flex;
    position: relative;
    left: -36px;
}  
.squares{
    position: relative;
}
.squareSecondary{
background-color: var(--yellow-pale-bg);
}
.float{
    position: absolute;
    left: -5px;
    top: 5px;
}
.minustop-5{
    top: -5px;
}
.left-5{
    left: 5px;
}
.circle{
    outline: 1px solid;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: white;
}
.circle:not(:first-child){
    position: relative;
    left: -6px;
} */
