.text-field {
  text-align: center;

  display: flex;

  align-items: center;
  justify-content: space-between;

  height: 15px;
  background-color: #ffffff;
  color: #bcbeca;

  padding: 7px 12px;

  border-radius: 5px;
}

.text-field .icon {
  outline: 1px solid #bcbeca;
}

.text-input {
  width: 100%;
  border: none;
  margin-left: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

}

.text-input:focus {
  border: none;
}

.text-input::placeholder{
  color: #bcbeca;
}
