.storage-graph {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.graph-area {
  display: flex;
  justify-content: center;
}

.graph-metric {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.graph-metric-label {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.graph-metric-label span {
  font-size: 12px;
  color: var(--darkgray);
}

.document-data {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
