.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0px;
  top: 0px;
  background: var(--darkblue);
  grid-area: nav-bar;
  grid-auto-rows: max-content;
}

.logo {
  width: 74px;
  height: 21px;
  margin-top: 20px;
  margin-left: 15%;
  background: linear-gradient(270deg, #689ef8 0%, #ff6860 56.25%, #ff9f00 100%);
  border-radius: 5px;
}

.menu-bar {
  margin-top: 40px;
  max-width: auto;
  padding: 0;
  list-style: none;
}

.menu-bar li span {
  display: flex;
  padding-left: 25px;
  gap: 30px;
}

.menu-bar li {
  display: flex;
  width: auto;
  height: 44px;
  align-items: center;
  justify-content: left;
  margin-bottom: 23px;
  cursor: pointer;

  font-size: 14px;
  line-height: 12px;
  color: var(--darkgray);
}

.menu-bar li:hover {
  color: white;
  background-color: var(--orange);
  border-left: 7px solid white;
  border-radius: 7px;
}

.menu-bar li.selected {
  color: black;
  background-color: var(--orange);
  border-left: 7px solid white;
  border-radius: 7px;
}

.divider {
  grid-column: 1 / -1;
  height: 0;
  border-bottom: 1px solid var(--darkgray);
  width: 100%;
}

.check-list-wrapper {
  display: flex;
  gap: 7px;
  margin-bottom: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  padding: 7px;
  margin-bottom: 15px;
  border-radius: 9px;
  background-color: var(--grayvariant);
  font-size: 14px;
  line-height: 20px;
  color: var(--lightgray);
}

.check-list:after {
  content: "";
  position: absolute;
  top: 100%;
  left: -60%;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px var(--grayvariant);
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.checklist-button-width {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}
