.table-head {
  margin-bottom: 2px;
}

.sub-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #858A9D;
}

.table-row {
  background-color: white;
  padding: 11px 12px 10px;
  border-radius: 10px;
}