.card {
  width: 100%;

  box-shadow: 0px 4px 16px rgba(58, 58, 58, 0.07);
  border-radius: 12px;

  padding: 5px;

  background-color: white;

  flex-basis: 30%;
  position: relative;

}

.card-actions {
  position: absolute;
  padding: 0;

  top: 14px;
  right: 13px;
}