:root{
    --sidebar-bg: #343951;
    --gray-full: #C4C4C4;
    --cell-bg: #F5F6FC;
    --gray-pale-outline: #BEC0C8;
    --light-orange-gradient: #FF9F00;
    --dark-orange-gradient: #FF6860;
    --blue-gradient: #689EF8;
    --gray-fc: #858A9D;
    --dark-gray-bg: #464C61;
    --yellow-button: #FF9F00;
    --yellow-pale-bg: #FFD999;
    --yellow-secondary-button: #FFB233;
    --gray-placeholder-fc: #BCBECA;
    --dark-blue-bg: #343951;
    --light-gray-bg: #9D9FAF

}

.layout{
    display: grid;
    grid-template-columns: 172px 1fr 252px;
    gap: 20px;
}

.cell{
    /* outline: 1px solid blue; */
    height: 100vh;
    background-color: var(--cell-bg);
}

.cell:first-child{
    background-color: var(--sidebar-bg);
    color: var(--gray-fc);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
}

.sideBarActions{
    padding: 27px;
}
.cell:nth-child(2){
    padding: 25px 19px 25px 16px;
}
/* ***   *** */

.searchBar{
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 7px 12px;
}
.searchBar input{
    border: none;
    font-size: 10px;
}
.searchBar ::placeholder{
    color:var(--gray-placeholder-fc);
}


