@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

:root {

  --darker-gray: #343951;
  --dark-gray: #858A9D;
  --gray: #BEC0C8;
  --light-gray: #BCBECA;
  --lighter-gray: #F5F6FC;
  --white: #ffffff;

  --orange: #FF9F00;
  --light-orange:  #FFB233;
  --lighter-orange: #FFD999;

  --green: #4AC29D;
  --red: #FF6860;
  --blue: #689FF8;

  --shadow-color: #C4C4C4;
  --light-color: #E0E7F1;

  --title-color: var(--dark-gray);
  --bg-sidebar-background: var(--dark-gray);
  --bg-content-baackground: var(--lighter-gray);
  --subtitle-color: var(--dark-gray);
}

body {
  margin: 0;
  font-family: Roboto;
}

.mb-20 {
  margin-bottom: 20px;
}

.font-size-10 {
  font-size: 10px;
}

.line-height-12 {
  line-height: 12px;
}

.text-center{
  text-align: center;
}