:root {
    --DARK-BG: #343951;
    --CUSTOM-YELLOW: #ff9f00;
    --LIGHT-BG: #f5f6fc;
    --CUSTOM-GREEN: #4ac29d;
    --CUSTOM-RED: #ff6860;
    --CUSTOM-GRAY: #bcbeca;
    --CUSTOM-BLUE: #689ff8;
}
