@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --darkblue: #343951;
  --darkgray: #858A9D;
  --orange: #ff9f00;
  --lightgray: #E0E7F1;
  --navyblue: #689FF8;
  --green: #4AC29D;
  --red: #FF6860;
  --gray:#F5F6FC;
  --grayvariant:#464C61;
  --lightorange:#FFB233;
}

body,
#root{
  margin:0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: var(--darkblue);
}

.layout-container{
  display:grid;
  height:100vh;
  width:100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "nav-bar content-area widget-area";
}

.header{
  color: var(--darkblue)
}

.divider {
  grid-column: 1 / -1;
  height: px;
  border: 1px solid var(--lightgray);
  width: 100%;
}