@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --darkblue: #343951;
  --inactive: #858A9D;
  --active: #ffffff;
}

body,
#root{
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color:var(--darkblue);
}

.layout-container{
  display:grid;
  height:100vh;
  width:100%;
  grid-template-columns: 172px 1fr 252px;
  grid-template-areas: "nav-bar content-area widget-area";
}